<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s, idx) { %>
      <li>
        <a href="/skills/<%= idx %>"><%= s.skill %></a>
        <form
          action="/skills/<%= idx %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
      </li>
      <% }); %>
    </ul>

    <a href="/skills/new">Add Skill</a>
  </body>
</html>
