<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Skill #<%= skillNum %></h1>
    <h3><%= skill.skill %></h3>
  </body>
</html>
